{$STAGING_API_HOST} {
  encode zstd gzip
  reverse_proxy api:8000 {
    header_up X-Forwarded-For {remote_host}
  }

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
    -Server
  }
}
